.icon-sprite, .icon-close-video, #intro > .closeButton {
  background: url('../images/icon-s09586679d8.png') no-repeat;
}

.icon-close-video {
  background-position: 0 0;
  height: 39px;
  width: 138px;
}

#intro {
  width: 100%;
  height: 20%;
  background-image: url("../images/ajax-loader-white.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
}
#intro > .closeButton {
  background-position: 0 0;
  height: 39px;
  width: 138px;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#intro > .closeButton:hover {
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px);
}
#intro > .videoPlaceholder {
  width: 100%;
  height: 100%;
}

.reveal-modal {
  width: 100% !important;
  left: 0;
  margin-left: 0 !important;
}

.portfolio-content {
  max-width: 1040px;
  margin: 0 auto;
}

.portfolio-fullimg {
  text-align: center;
  background-image: url("../images/ajax-loader-black.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

* {
  outline: none;
  outline-style: none;
  -webkit-touch-callout: none;
  /* disable callout, image save panel */
  -webkit-tap-highlight-color: transparent;
  /* "turn off" link highlight */
}

body {
  min-width: 320px;
  min-height: 320px;
  overflow-x: hidden;
}
body.noScroll {
  overflow: hidden;
}

textarea {
  resize: none;
}

[data-icon]:before {
  font-family: "Entypo";
  content: attr(data-icon);
  speak: none;
}

#hidden-wrapper {
  display: none;
}

#portfolio {
  padding-top: 10px !important;
}
#portfolio h3, #portfolio p {
  display: none;
}
#portfolio > .row {
  width: 100%;
}

.portfolioImage {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.portfolioImage.prev {
  opacity: 0;
  -webkit-transform: perspective(4000) rotateY(-15deg);
  -moz-transform: perspective(4000) rotateY(-15deg);
  -ms-transform: perspective(4000) rotateY(-15deg);
  -o-transform: perspective(4000) rotateY(-15deg);
  transform: perspective(4000) rotateY(-15deg);
}
.portfolioImage.next {
  opacity: 0;
  -webkit-transform: perspective(4000) rotateY(15deg);
  -moz-transform: perspective(4000) rotateY(15deg);
  -ms-transform: perspective(4000) rotateY(15deg);
  -o-transform: perspective(4000) rotateY(15deg);
  transform: perspective(4000) rotateY(15deg);
}
.portfolioImage.enlarged {
  max-height: 100% !important;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}

.page-nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.page-nav > .lArrow, .page-nav > .rArrow {
  display: inline-block;
  vertical-align: middle;
  color: black;
  font-size: 48px;
  cursor: pointer;
  -moz-transition: color .1s;
  -webkit-transition: color .1s;
  -o-transition: color .1s;
  transition: color .1s;
}
.page-nav > .lArrow:hover, .page-nav > .rArrow:hover {
  color: #e3007b;
}
.page-nav > p {
  display: inline-block;
  vertical-align: middle;
  color: black;
  font-family: "Open Sans", sans-serif;
  text-transform: italic;
  font-size: 18px;
  margin: 0;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
