.icon-sprite, .icon-close-video, #intro > .closeButton {
  background: url('../images/icon-s09586679d8.png') no-repeat;
}

.icon-close-video {
  background-position: 0 0;
  height: 39px;
  width: 138px;
}

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

#intro {
  width: 100%;
  height: 20%;
  background-image: url("../images/ajax-loader-white.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
}
#intro > .closeButton {
  background-position: 0 0;
  height: 39px;
  width: 138px;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#intro > .closeButton:hover {
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px);
}
#intro > .videoPlaceholder {
  width: 100%;
  height: 100%;
}

.reveal-modal {
  width: 100% !important;
  left: 0;
  margin-left: 0 !important;
}

.portfolio-content {
  margin: 0 auto;
}

.portfolio-fullimg {
  text-align: center;
  background-image: url("../images/ajax-loader-black.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

* {
  outline: none;
  outline-style: none;
  -webkit-touch-callout: none;
  /* disable callout, image save panel */
  -webkit-tap-highlight-color: transparent;
  /* "turn off" link highlight */
}

body {
  min-width: 320px;
  min-height: 320px;
  overflow-x: hidden;
}
body.noScroll {
  overflow: hidden;
}

textarea {
  resize: none;
}

[data-icon]:before {
  font-family: "Entypo";
  content: attr(data-icon);
  speak: none;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
  background: #e3007b;
}

#hidden-wrapper {
  display: none;
}

#about {
  background: white;
}
#about h3 {
  color: black;
}
#about p {
  color: #666;
}

#portfolio {
  padding-top: 10px !important;
}
#portfolio h3, #portfolio p {
  display: none;
}
#portfolio > .row {
  width: 100%;
}
#portfolio .three {
  width: 24.8%;
}

.close-reveal-modal {
  top: 50px !important;
}

.portfolioImage {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.portfolioImage.prev {
  opacity: 0;
  -webkit-transform: perspective(4000) rotateY(-15deg);
  -moz-transform: perspective(4000) rotateY(-15deg);
  -ms-transform: perspective(4000) rotateY(-15deg);
  -o-transform: perspective(4000) rotateY(-15deg);
  transform: perspective(4000) rotateY(-15deg);
}
.portfolioImage.next {
  opacity: 0;
  -webkit-transform: perspective(4000) rotateY(15deg);
  -moz-transform: perspective(4000) rotateY(15deg);
  -ms-transform: perspective(4000) rotateY(15deg);
  -o-transform: perspective(4000) rotateY(15deg);
  transform: perspective(4000) rotateY(15deg);
}
.portfolioImage.enlarged {
  max-height: 1200px !important;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}

.portfolio-content {
  overflow-y: scroll;
}

.page-nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-align: center;
  position: relative;
  top: 50%;
  margin-top: -38px;
}
.page-nav > .lArrow, .page-nav > .rArrow {
  display: block;
  color: black;
  font-size: 48px;
  cursor: pointer;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}
.page-nav > .lArrow:hover, .page-nav > .rArrow:hover {
  color: #e3007b;
}
.page-nav > p {
  display: block;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 12px;
}

.sideColumn {
  -webkit-transition: height 0.4s;
  -moz-transition: height 0.4s;
  -o-transition: height 0.4s;
  transition: height 0.4s;
}
