/* Filter */

.filter-wrap {
margin-bottom:60px;
padding:2px 0;
}

.filter {
	display:table;
	margin: 0 auto;
}

.filter li {
	float: left;
	padding: 6px 0px;
	cursor: pointer;
	border-bottom: 1px solid #181818;
	-webkit-transition: border .5s ease-out;
    -moz-transition: border .5s ease-out;
    -o-transition: border .5s ease-out;
    transition: border .5s ease-out;
}

.filter li:first-child a{
	border-left: none;
}

.filter li a { 
	display: block;
	padding: 0px 20px;
	color: #888;
	text-transform:uppercase;
	font-size:10px;
	letter-spacing:2px;
	font-weight: bold;
	font-family: "Quicksand";
	border-left: 1px dotted #282828;
}

.filter li:hover {border-bottom: 1px solid #e3007b;}
.currents  {border-bottom: 1px solid #e3007b !important;}
.currents a {color: white !important;}


/* Portfolio Items */
.portfolio li {
	float: left !important;
	padding:3px !important;
	margin:0px !important;
	position:relative;
	overflow:hidden;
}

.portfolio a { display: block;}

.portfolio_thumb {
	position:relative;
	overflow:hidden;
}

.portfolio_thumb img {
	float: left;
	margin: 1px;
	width:100%;
	height:auto;
}

