// --- Image Sprites ---
$icon-sprite-dimensions: true;
$icon-layout:smart;

@import "compass/css3/transition";
@import "compass/css3/transform";

@import "icon/*.png"; 
@include all-icon-sprites;

@import "isotope";
@import "intro";

*{
  outline: none;
  outline-style: none;
  -webkit-touch-callout: none;              /* disable callout, image save panel */
  -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

body{
	min-width: 320px;
	min-height: 320px;
	overflow-x: hidden;
	
	&.noScroll{
		overflow: hidden;
	}
}

textarea{
	resize: none;
}

[data-icon]:before {
  font-family: "Entypo";
  content: attr(data-icon);
  speak: none;
}

::-webkit-scrollbar {
    width: 2px;
}
 
::-webkit-scrollbar-track {
    background: rgba(0,0,0,.05);
}
 
::-webkit-scrollbar-thumb {
    background: #e3007b;
}

#hidden-wrapper{
	display: none;
}

#about{
	background: white;

	h3{
		color: black;
	}

	p{
		color: #666;
	}
}

#portfolio{
	padding-top: 10px !important;

	h3, p{
		display: none;
	}

	>.row{
		width: 100%;
	}

	.three{
		width: 24.8%;
	}
}

.close-reveal-modal{
	top: 50px !important;
}

.portfolioImage{
	@include single-transition(all, .5s, ease-out);
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;

	&.prev{
		opacity: 0;
		@include rotateY(-15deg, 4000);
	}

	&.next{
		opacity: 0;
		@include rotateY(15deg, 4000);
	}

	&.enlarged{
		max-height: 1200px !important;
		cursor: -webkit-zoom-out;
		cursor: -moz-zoom-out;
	}
}

.portfolio-content{
	overflow-y: scroll;
}

.page-nav{
	@include user-select('none');
	text-align: center;
	position: relative;
	top: 50%;
	margin-top: -38px;

	>.lArrow, >.rArrow{
		display: block;
		color: black;
		font-size: 48px;
		cursor: pointer;
		@include single-transition(color, .1s);

		&:hover{
			color: #e3007b;
		}
	}

	>p{
		display: block;
		color: black;
		font-family: "Open Sans", sans-serif;
		font-style: italic;
		font-size: 12px;
	}
}

.sideColumn{
	@include single-transition(height, .4s);
}