// --- Image Sprites ---
$icon-sprite-dimensions: true;
$icon-layout:smart;

@import "icon/*.png"; 
@include all-icon-sprites;

@import "intro";

*{
  outline: none;
  outline-style: none;
  -webkit-touch-callout: none;              /* disable callout, image save panel */
  -webkit-tap-highlight-color: transparent; /* "turn off" link highlight */
}

body{
	min-width: 320px;
	min-height: 320px;
	overflow-x: hidden;
	
	&.noScroll{
		overflow: hidden;
	}
}

textarea{
	resize: none;
}

[data-icon]:before {
  font-family: "Entypo";
  content: attr(data-icon);
  speak: none;
}

#hidden-wrapper{
	display: none;
}

#portfolio{
	padding-top: 10px !important;

	h3, p{
		display: none;
	}

	>.row{
		width: 100%;
	}
}

.page-nav{
	@include user-select('none');

	>.lArrow, >.rArrow{
		display: inline-block;
		vertical-align: middle;
		color: black;
		font-size: 48px;
		cursor: pointer;
		-moz-transition: color .1s;
		-webkit-transition: color .1s;
		-o-transition: color .1s;
		transition: color .1s;

		&:hover{
			color: #e3007b;
		}
	}

	>p{
		display: inline-block;
		vertical-align: middle;
		color: black;
		font-family: "Open Sans", sans-serif;
		text-transform: italic;
		font-size: 18px;
		margin: 0;
		padding-top: 4px;
		padding-left: 10px;
		padding-right: 10px;
	}
}