// --- Image Sprites ---
$icon-sprite-dimensions: true;
$icon-layout:smart;

@import "icon/*.png"; 
@include all-icon-sprites;

@import "intro";

body{
	min-width: 320px;
	min-height: 320px;
	overflow-x: hidden;
	
	&.noScroll{
		overflow: hidden;
	}
}

#hidden-wrapper{
	display: none;
}

#portfolio{
	padding-top: 10px !important;

	h3, p{
		display: none;
	}

	>.row{
		width: 100%;
	}
}